body{
  font-family: var(--font-stack-body,"Lato","HelveticaNeue","Helvetica Neue",sans-serif) !important;
}

.textTopNav{
  letter-spacing: 1.5px;
  text-shadow: unset;
  font-size: 1.1rem;
}
.textBody a {
  letter-spacing: 1.5px;
  text-shadow: unset;
  font-size: 15px;
  color: #0d4f9a !important;
}
.no-chevron .dropdown-toggle::after {
  content: none !important;
  content: '\25BC'; /* Unicode for down-pointing triangle */
  font-size: 2em; /* Adjust this value to increase or decrease the size */
}
.dropdown-toggle::after {
  content: '\25BC'; /* Unicode for down-pointing triangle */
  font-size: 2em; /* Adjust this value to increase or decrease the size */
}


.dropdown:hover .dropdown-menu {
  display: block;
}
.has-search .form-control {
  /* padding-right: 2.375rem; */
  position: relative;
  width: 358px;
  height: 39px;
  
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.6rem;
  height: 2rem;
  line-height: 2.375rem;
  text-align: center;
  color: #aaa;
  padding-right: 15px;
  right: 0;
  padding-top: 3px;
}
button{
  color: #fff;
}
.text-white{ 
  color: white;
}

.site-nav-first {
  background-color: #0d4f9a;
  border-radius: 7px;
  color: #fff;
  padding: 15px;
  padding-left: 20px;
  margin-right: 25px !important;
  margin-left: unset !important;
}
.site-nav-first {
  padding: 7px;
}

#topNav{
  background-color: #0d4f9a;
  color: #fff;
}

.borderLine {
  border: 3px solid #0d4f9a; /* Adjust the thickness and color as needed */
  height: 3px;
}
.blueText{
  color: #0d4f9a;
}

.icon{
  height: 25px;
  width: 30px;
}
.iconNav{
  height: 35px;
  width: 30px;
}
.navbar{
  padding: 0rem !important;
}
.ageless {
  letter-spacing: 0px;
  margin-bottom: 0;
  text-align: center;
  text-shadow: .5px 0 currentColor;
  font-size: 26px;
  font-weight: 700;
  font-family: var(--font-stack-body,"Lato","HelveticaNeue","Helvetica Neue",sans-serif);
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowing text */
  width: 100%; /* Adjust the width as needed */
  color: #0d4f9a;
}
.green-color {
  color:#2bb34d !important;
}
.star {
  margin-right: 5px; /* Add margin between stars */
}
a {
  color: #2f84ed !important;
  text-decoration: none !important;
  cursor: pointer !important;
  font-size: 13px;
}
.zoom {
  transition: transform .5s; /* Animation */
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
#OTP{
  background-color: #0d4f9a;
  color: white;
  font-family: var(--font-stack-body,"Lato","HelveticaNeue","Helvetica Neue",sans-serif);
  border-radius: 5px;
  height: 55px;
  width: 450px;
  text-align: center;

}
#save{
  background-color: transparent;
  color: #0d4f9a;
  border-color: #0d4f9a;
  border-radius: 5px;
  height: 55px;
  width: 450px;
  text-align: center;
}
#sideBox1{
  height: 255px;
  width: 270px;
  border-top: 2px solid #0d4f9a;
  border-bottom: 2px solid #0d4f9a;
  border-left: 2px solid #0d4f9a;
  border-right: none;
}
#sideBox2{
  height: 255px;
  width: 270px;
  border-top: 2px solid #0d4f9a;
  border-bottom: 2px solid #0d4f9a;
  border-left: none;
  border-right: 2px solid #0d4f9a;
}

.midBox{
  height: 300px;
  width: 300px;
  border-top: 1px solid #0d4f9a;
  border-bottom: 5px solid #0d4f9a;
  border-left: 5px solid #0d4f9a;
  border-right: 5px solid #0d4f9a;
}

#divBgColor{
  background-color: #0d4f9a;
  height: 36px;
  color: white;
  font-weight: 900;
  font-size: 20px;
}
.cardText{
  letter-spacing: 0px;
  margin-bottom: 0;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  font-family: var(--font-stack-body,"Lato","HelveticaNeue","Helvetica Neue",sans-serif);
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowing text */
  width: 100%; /* Adjust the width as needed */
  color: #0d4f9a;
}
#amount{
  text-align: center;
  font-weight: 500;
  font-size: 36px;
}

.amountGreen{
  text-align: center;
  color: #2bb34d;
  font-family: var(--font-stack-body,"Lato","HelveticaNeue","Helvetica Neue",sans-serif);
  font-size: 36px;
  font-weight: 700;
  line-height: 35px;
  

}
.discRed{
  text-align: center;
  color: #db421e !important;
  font-family: var(--font-stack-body,"Lato","HelveticaNeue","Helvetica Neue",sans-serif);
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;

}
.row {
  --bs-gutter-x: none !important;
  --bs-gutter-y: 0;
 
}
.buttonGreen{
  border-radius: 4px;
  color: white;
  background-color: #2bb34d;
  border: none;
  padding: 12px 40px;
  bottom: 0;
  font: 16px;
  font-weight: 700;
}
.imgSize{
  height: 150px;
  width: 150px;
}
.communityText{
  letter-spacing: .5px;
  margin-bottom: 0;
  line-height: 1.2;
  text-align: center;
  text-shadow: .5px 0 currentColor;
  font-size: 16px;
  font-weight: 700;
  font-family: var(--font-stack-body,"Lato","HelveticaNeue","Helvetica Neue",sans-serif);
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowing text */
  width: 100%; /* Adjust the width as needed */
  color: #0d4f9a;
}
#textDiv{
letter-spacing: 0.1em;
}
.list li {
  padding-bottom: 2px; /* Adjust this value to control the padding size */
}
.divBox{
  
  background-color: #003663!important;
  color: #fff;
  border-left: 0.5px solid var(--color-border,#e8e9eb);
  border-right: 0.5px solid var(--color-border,#e8e9eb);
  border-top: 2px solid var(--color-border,#e8e9eb);
  border-bottom: 2px solid var(--color-border,#e8e9eb);  
  text-align: center;
}
#divBox2{
  background-color: #0d4f9a;
}
.imgIcon{
  height: 50px;
  width: 50px;
  position: relative;
  top: -25px;
}
.imgStar{
  Width: 500px; /* Set the desired width */
  height: auto; /* Maintain aspect ratio */  
  margin-left: auto;
  margin-right: auto;
  display: block;
  overflow-clip-margin: content-box;
  overflow: clip;
}
.vl{
  border-right: 8px solid #2bb34d;
  /* margin-top: 5px; */
  height: 250px;
  /* height: 350px; */
  margin-left: 25px;
  margin-right: 25px;
}
.textFCR{
  font-size: 56px;
  color: white;
  line-height: 60px;
  font-weight: 700;
  
}
.greenReview{
  color: #2bb34d;
  font-size: 22px;
}

.col-2 {
  flex: 0 0 auto;
  width: 1% !important;
}
